<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/zooditor.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5level [%thread] %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>